.containerStyle {
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 64px;
  z-index: 50;

  display: flex;
  align-items: center;
  justify-content: center;
  background: #0f172a;
  color: #fff;
  padding: 12px 16px;
}

.navStyle {
  display: flex;
  gap: 12px;
  flex: 1; 
  justify-content: center; 
  align-items: center;
}


.navProfile {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  align-items: center;
  flex: 0; 
  position: absolute;
  right: 16px; 
}


.linkBase {
  color: #cbd5e1;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  transition: background 0.2s;
}

.linkBase:hover {
  background: #1e293b;
  color: #fff;
}
